@page
@model ParkingHQ.Web.Pages.Simulation.ExitTicketModel
@{
}

<h4>Thanks for your visit</h4>
<hr />
<div class="row">
    @if (Model.Tariff == 0)
    {
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Ticket.TicketId" class="control-label"></label>
                    <input asp-for="Ticket.TicketId" class="form-control" />
                    <span asp-validation-for="Ticket.TicketId" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="DateTimeExit" class="form-control" />
                    <span asp-validation-for="DateTimeExit" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="col-md-4">
            Payable amount: @Model.Tariff
        </div>
    }
</div>